appdirs==1.4.4
appnope==0.1.2
attrs==20.3.0
backcall==0.2.0
bleach==3.2.3
cffi==1.14.4
click==7.1.2
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Frozen-Flask==0.15
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
mistune==0.8.4
Werkzeug==1.0.1

