#main{
    width: 80%;
    text-align: center;
    border-radius: 20px;
  }
  
p{
  font-size: 30px;
}

#head {
  max-width: 30%;
    width: auto;
    text-align: left;
    height: 80px;
}

.butt {
  background-color: black;
  width: 60%;
  border-radius: 20px;
}