body {
    background-color: #1f4359;
    color: whitesmoke;
    font-family: 'Nanum Gothic', sans-serif;
  }

 a:link {
    color:whitesmoke;
    text-decoration: whitesmoke;
 } 
 a:visited {
     color: whitesmoke;
 }


.question {
    font-size: 24px;
    background-color: black;
    border-radius: 20px;
    border:thick;
    width: auto;
    min-width: 10em;
    max-width: 11em;
    margin: auto;
}
.question:hover {
    background-color: coral;
    color:black;
}

.texts {
    text-align: center;
}

.logo {
    box-align: left;
    width: auto; height: auto;
    max-width: 120px;
    max-height: 100px;
}