{% extends "base.html" %}
{% block content %}

<div class="mx-auto my-5 py-5 px-3">
<h2> 초보자용 LBTI </h2>
<img style="width:100%; max-width:512px;" src="https://ifh.cc/g/uy3pMk.jpg">
<br><br>
<div class="col-lg-3 col-md-3"></div>
<div class="col-lg-6 col-md-6">
    <h3>이 테스트는 롤에 익숙하지 않은 소환사님들을 위해 만들어졌습니다.</h3><br>
    초보자가 150개가 넘는 챔피언 중 자신에게 어울리는 챔피언을 찾기는 어렵습니다. 따라서 간단하게 답할 수 있는 질문 4개로 당신에게 잘 어울릴 챔피언을 찾는 것이 이 테스트의 목표입니다! 



<br><br>
<a href = "{{ url_for('question', page = 1, q= 1,answer=0) }}">
<div class="question">
    시작
</div>
</a></div>
<div class="col-lg-3 col-md-3"></div>
</div>

{% endblock %}